<h3>What do you think? I <em>may</em> care...</h3>

<%= form_for [ @article, @comment ] do |f| %>
  <p>
    <%= f.label :author_name, "Who are You?" %><br/>
    <%= f.text_field :author_name %>
  </p>
  <p>
    <%= f.label :body, "What do you have to say?" %><br/>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

