<h1>Just me</h1>
  <% @authors.each do |author| %>
  
    <h4>Author: <%= author.username %></h4>
        <h4>Email: <%= author.email %></h4><br/>
        <h5><%= link_to 'Show', author %></h5>
        <h5><%= link_to 'Edit', edit_author_path(author) %></h5>
        <h5><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' }%></h5>
  <% end %>
<br>

<%= link_to 'Add a New Author>>', new_author_path %><br/>
<%= link_to '<<Back To All Articles', articles_path %>
