<%= form_for(@tag) do |f| %>
  <ul>
  <% @tag.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
    <% if logged_in? %>
      <p>
        <%= f.label :Tag %><br />
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.submit %>
      </p>
      <p>
        
        	<%= link_to "delete", tag_path, method: :delete, data: {confirm: "You sure you want to COMPLETELY scrap this?"} %>
  </p>
    <% else %>You must be logged in to edit this tag
    <% end %>
    <br/>
  <p>
    <%= link_to "<<Back to Articles List", articles_path %>
  </p>
<% end %>